@width: 280px;
@first: #00C7B3;
@smurf: #31b6f3;
@second: #fff;

@import "../bower_components/pickadate/lib/compressed/themes/classic.css";
@import "../bower_components/pickadate/lib/compressed/themes/classic.date.css";
@import 'rooms';

html, body {
  height: 100%;
}